html, header, body, footer {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family:
}

/* ----------------------------------------General body */

body {
    background-color: rgb(255,253,208);
}

.heading-text, h1 p {
    font-family: 'Merienda One', 'Brush Script MT', cursive;
}

/* ----------------------------------------Header */

header {
    top: 0;
    left: 0;
}

.heading-text {
    width: 33%;
    background-color: white;
    text-align: center;
}

.table-header {
    width: 100%;
    top: 0;
    left: 0;
    border-collapse: collapse;
}

.chef-image {
    height: 125px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid rgb(181, 181, 181, 0.5);
}

/* ----------------------------------------Navbar */

.green {
    width: 33%;
    background-color: green;
    color: black;
    text-align: center;
}

.white {
    width: 33%;
    background-color: white;
    color: black;
    text-align: center;
}

.red {
    width: 33%;
    background-color: red;
    color: black;
    text-align: center;
}

.nav-table {
    width: 100%;
    height: 75px;
    border-collapse: collapse;
    background-color: rgb(255,253,208);
    left: 25%;
    right:25%;
}

.home {
    width: 25%;
    text-align: center;
    background-color: rgb(255,253,208);
}

.menu {
    width: 25%;
    text-align: center;
    background-color: rgb(255,253,208);
}

.bookings {
    width: 25%;
    text-align: center;
    background-color: rgb(255,253,208);
}

.story {
    width: 25%;
    text-align: center;
    background-color: rgb(255,253,208);
}

button {
    transition: 0.4s;
    border: 2px solid black;
    box-shadow: 0px 2px 2px black;
    padding: 15px 32px;
}

button:hover {
    background-color: rgb(252, 252, 151);
}

.fa-home, .fa-clipboard, .fa-address-book, .fa-book {
    display: none;
}

/* ----------------------------------------Body home */

.table-home-main {
    width: 100%;
}

.td-wwd-h {
    text-align: center;
    width: 33%;
}

.td-ot-h {
    text-align: center;
    width: 33%;
}

.td-wtf-h {
    text-align: center;
    width: 33%;
}

.t-main-h {
    font-family: cursive;
}

.td-ot {
    text-align: center;
}


/* ----------------------------------------Bookings body */

.word-bookings {
    text-align: center;
    font-family: cursive;
}

form {
    text-align: center;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}

label {
    text-align: left;
}

#fname {
    width: 50%;
    padding: 9px 10px;
}

#lname {
    width: 50%;
    padding: 9px 10px;
}

#email {
    width: 50%;
    padding: 9px 10px;
}

#noguests {
    width: 50%;
    padding: 3px 4px;
}

#toa-hours {
    width: 25%;
    padding: 3px 4px;
}

#toa-mins {
    width: 25%;
    padding: 3px 4px;
}

#spec-req {
    width: 75%;
}
/* ----------------------------------------Menu page */

.h-menu {
    text-align: center;
    font-family: cursive;
}

.menu-table {
    width: 100%;
    font-family: cursive;
}

.menu-text {
    text-align: center;
}

.spacer {
    width: 33%;
}

/* ----------------------------------------Our Story page */

.os-table {
    width: 100%;
    text-align: center;
}
/* ----------------------------------------Footer */

#social-media-table {
    width: 100%;
    height: 40px;
    border-collapse: collapse;
    bottom: 0;
}

.facebook {
    width: 33%;
    background-color: green;
    text-align: center;
}

.instagram {
    width: 33%;
    background-color: white;
    text-align: center;
}

.twitter {
    width: 33%;
    background-color: red;
    text-align: center;
}

.fa-facebook {
    font-size: 30px;
}

.fa-instagram {
    font-size: 30px;
}

.fa-twitter {
    font-size: 30px;
}

.fa {
    color: rgb(44, 43, 43);
}

.fa:visited {
    text-decoration: none;
}